{% extends 'base.html' %}
{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 30vh; margin-top: 40px;">
    <div class="w-100" style="max-width: 400px;">
        <h4 class="text-center mb-4 fw-bold">Створіть обліковий запис</h4>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Ім'я користувача</label>
                <input type="text" name="username" class="form-control" id="id_username" required>
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Електронна пошта</label>
                <input type="email" name="email" class="form-control" id="id_email" required>
            </div>
            <div class="mb-3">
                <label for="id_password1" class="form-label">Пароль</label>
                <input type="password" name="password1" class="form-control" id="id_password1" required>
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label">Підтвердіть пароль</label>
                <input type="password" name="password2" class="form-control" id="id_password2" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-dark">Зареєструватися</button>
            </div>
        </form>

        <p class="text-center mt-3">
            Вже маєте обліковий запис? <a href="{% url 'login' %}">Увійти</a>
        </p>
    </div>
</div>
{% endblock %}