<div class="col-md-3 mb-4">
    <div class="p-4 text-center rounded custom-bg">
        <div class="bg-secondary text-white rounded-circle mx-auto mb-3 d-flex align-items-center justify-content-center"
             style="width: 60px; height: 60px; font-size: 24px;">
            {{ user.username|first }}
        </div>
        <h5 class="mb-0">{{ user.username }}</h5>
        <p class="text-muted small mb-3">{{ user.email }}</p>
        {% if buttons == 'profile' %}
            <a href="{% url 'profile' %}" class="btn btn-sm mb-2 w-100 bg-white fw-bold">Профіль</a>
            <a href="{% url 'logout' %}" class="btn btn-sm w-100 bg-white fw-bold">Вийти</a>
        {% elif buttons == 'edit_profile' %}
            <a href="{% url 'edit_profile' %}" class="btn btn-sm mb-2 w-100 bg-white fw-bold">Редагувати профіль</a>
            <a href="{% url 'logout' %}" class="btn btn-sm w-100 bg-white fw-bold">Вийти</a>
        {% endif %}
    </div>
</div>