{% extends 'base.html' %}
{% load static %}


{% block title %}Знайдіть свою ідеальну вживану машину{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <h1 class="display-5 fw-bold">Знайдіть свою ідеальну вживану машину</h1>
        <p class="lead mb-4 font-weight: 500;" style="font-weight: 500;">Переглядайте та продавайте вживані автомобілі з легкістю</p>
        <a href="{% url 'browse_cars' %}" class="btn btn-dark btn-lg me-2">Переглянути автомобілі</a>
        <a href="{% url 'add_car' %}" class="btn btn-light btn-lg">Продайте свій автомобіль</a>
    </div>
</div>

<div class="container">
    <div class="featured-header">
        <h2 class="fw-bold">Рекомендовані автомобілі</h2>
        <a href="{% url 'browse_cars' %}" class="text-decoration-none">Переглянути всі</a>
    </div>
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 mb-4">
            {% include 'car_card.html' with car=car %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}